<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fenda.settings" >

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name=".activity.FDSettingsActivity"/>
        <activity android:name=".activity.FDSettingsVolumeActivity"/>
        <activity android:name=".activity.FDSetttingsBrightnessActivity"/>
        <activity android:name=".activity.FDSettingsWifiActivity"/>
        <activity android:name=".activity.FDSettingsWifiInputPswActivity"/>
        <activity android:name=".activity.FDSettingsWifiConnectedInfoActivity"/>
        <activity android:name=".activity.FDSettingsDeviceInfoActivity"/>
        <activity android:name=".activity.FDSettingsBluetoothActivity"/>
        <activity android:name=".activity.FDSettingsDeviceCenterActivity"/>
        <activity android:name=".activity.FDSettingsChangeDeviceNameActivity"/>
        <activity android:name=".activity.FDSettingsDeviceContractsActivity"/>

    </application>
</manifest>
