<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fenda.capture"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".activity.CaptureActivity"></activity>
    </application>

</manifest>