<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fenda.leavemessage">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application>
        <activity android:name=".LeaveMessageListConversationActivity"
                android:windowSoftInputMode="stateHidden|adjustResize">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />

                    <data
                        android:host="com.fenda.launcher"
                        android:pathPrefix="/conversationlist"
                        android:scheme="rong" />
                </intent-filter>
        </activity>

        <activity
            android:name=".LeavemessageDialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyTranslucentTheme" />
        <!-- 会话界面 -->
        <activity
            android:name=".LeaveMessageConversationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.fenda.launcher"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
    </application>

</manifest>