<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fenda.settings">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />


    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>



    <application
        android:name="debug.SettingsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitleFullscreen">
        <activity android:name="debug.SettingsLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.SetttingsBrightnessActivity" />
        <activity android:name=".activity.SettingsVolumeActivity" />
        <activity android:name=".activity.SettingsWifiActivity" />
        <activity android:name=".activity.SettingsWifiInputPswActivity" />
        <activity android:name=".activity.SettingsWifiConnectedInfoActivity" />
        <activity android:name=".activity.SettingsDeviceInfoActivity" />
        <activity android:name=".activity.SettingsBluetoothActivity" />
        <activity android:name=".activity.SettingsDeviceCenterActivity" />
        <activity android:name=".activity.SettingsChangeDeviceNameActivity" />
        <activity android:name=".activity.SettingsDeviceContractsActivity" />
        <activity android:name=".activity.SettingsLoadWebviewActivity" />
        <activity android:name=".activity.SettingsBindDeviceActivity" />
        <activity android:name=".activity.SettingsDeviceContractsNickNameActivity" />
        <activity android:name=".activity.SettingsContractsNickNameEditActivity" />
        <activity android:name=".activity.SettingsDeviceAddContractsQRActivity" />
        <activity android:name=".activity.SettingsAndLinkQRCodeActivity"/>
        <activity android:name=".activity.SettingsChangeBtNameAcivity"/>
        <activity android:name=".activity.SettingsScreenActivity"/>
        <activity android:name=".activity.SettingsScreenIntoStandbyActivity"/>
        <activity android:name=".activity.SettingsScreenStyleActivity"/>


        <service
            android:name="cn.richinfo.mt.service.MTService"
            android:exported="false" >
        </service>


        <receiver android:name="cn.richinfo.mt.receiver.MTBroadCastReceiver">
        <intent-filter>
        <action android:name="cn.richinfo.mutm.action.HEARTBEAT" />
        <action
            android:name="android.richinfo.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
        </receiver>



        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="com.chinamobile.smartgateway.andsdk.mqtt.MQTTService" />

        <provider
            android:name="com.fenda.common.db.UserContentProvider"
            android:authorities="com.fenda.ai"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"></provider>
    </application>

</manifest>