<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fenda.remind">

    <application>
        <activity android:name=".AlarmListActivity"
            android:theme="@style/NoTitleFullscreen"
            android:launchMode="singleTask"
            />
        <activity android:name=".AlarmActivity"
            android:theme="@style/NoTitleFullscreen"
            />


    </application>

</manifest>