<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fenda.calendar">

    <application>
        <activity android:name=".view.CalendarMainActivity" android:launchMode="singleTask"></activity>
        <activity android:name=".view.HolidayMainActivity" android:launchMode="singleTask"></activity>
        <activity android:name=".view.PerpetualCalendarActivity" android:launchMode="singleTask"></activity>
        <activity android:name=".view.CalendarQueryLastDayActivity" android:launchMode="singleTask" />
        <activity android:name=".view.CalendarQueryDateActivity" android:launchMode="singleTask"/>
    </application>

</manifest>